body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
  }

  .nav-pills > li > a.active {
    background-color: rgb(255, 191, 53) !important;
    color: black !important;
  }
  
  .nav-pills > li > a:hover {
    background-color: rgba(255, 223, 154, 0.336) !important;
    color: black !important;
  }
  
  .navmodal {
    color: rgb(165, 115, 6) !important;
  }